# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

#Tell git not to perform EOL conversions on any files under folder "docker/linux" and any bash script files
docker/linux/* -text
docker/linux/base/* -text
docker/linux/hub/* -text
docker/linux/node/* -text
docker/linux/standalone/* -text
*.sh -text